@import "variable";
@import "./transition.scss";
* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
  margin             : 0;
  padding            : 0;
}

body, html {
  background-color : $grayLight;
  height           : 100%;
  width            : 100%;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  line-height              : 1.15;
  -ms-text-size-adjust     : 100%;
  -webkit-text-size-adjust : 100%
}

body {
  margin : 0
}

article, aside, footer, header, nav, section {
  display : block
}

em {
  font-style : normal;
}

h1, h2, h3, h4, h5 {
  font-weight : normal;
}

h1 {
  font-size : 2em;
  margin    : .67em 0
}

ul,li {
  list-style : none;
}

figcaption, figure, main {
  display : block
}

figure {
  margin : 1em 40px
}

hr {
  box-sizing : content-box;
  height     : 0;
  overflow   : visible
}

pre {
  font-family : monospace, monospace;
  font-size   : 1em
}

a {
  background-color             : transparent;
  -webkit-text-decoration-skip : objects;
  text-decoration              : none;
}

abbr[title] {
  border-bottom   : none;
  text-decoration : underline;
  text-decoration : underline dotted
}

b, strong {
  font-weight : inherit
}

b, strong {
  font-weight : bolder
}

code, kbd, samp {
  font-family : monospace, monospace;
  font-size   : 1em
}

dfn {
  font-style : italic
}

mark {
  background-color : #ff0;
  color            : #000
}

small {
  font-size : 80%
}

sub, sup {
  font-size      : 75%;
  line-height    : 0;
  position       : relative;
  vertical-align : baseline
}

sub {
  bottom : -.25em
}

sup {
  top : -.5em
}

audio, video {
  display : inline-block
}

audio:not([controls]) {
  display : none;
  height  : 0
}

img {
  border-style : none
}

svg:not(:root) {
  overflow : hidden
}

button, input, optgroup, select, textarea {
  font-family: "Microsoft Yahei";
  font-size   : 100%;
  line-height : 1.15;
  margin      : 0
}

button, input {
  overflow : visible
}

button, select {
  text-transform : none
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance : button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style : none;
  padding      : 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline : 1px dotted ButtonText
}

fieldset {
  padding : .35em .75em .625em
}

legend {
  box-sizing  : border-box;
  color       : inherit;
  display     : table;
  max-width   : 100%;
  padding     : 0;
  white-space : normal
}

progress {
  display        : inline-block;
  vertical-align : baseline
}

textarea {
  overflow : auto
}

[type=checkbox], [type=radio] {
  box-sizing : border-box;
  padding    : 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height : auto
}

[type=search] {
  -webkit-appearance : textfield;
  outline-offset     : -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance : none
}

::-webkit-file-upload-button {
  -webkit-appearance : button;
  font               : inherit
}

details, menu {
  display : block
}

summary {
  display : list-item
}

canvas {
  display : inline-block
}

template {
  display : none
}

.pull-left{
  float:left;
}

.pull-right{
  float:right;
}

.badge_tip{
  display:block;
  position:absolute;
  width:18px;
  height:18px;
  border-radius:50%;
  background:red;
  text-align:center;
  line-height:18px;
  font-size:12px;
  color:#fff;

}

[hidden] {
  display : none
}
input::-ms-clear{display:none;}

input::-ms-reveal{display:none;}

input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  font-family: "Microsoft Yahei"
}
.help-tip{
  color: $text-link-color;
  font-size:16px;
  cursor: default;
}

$boxSize : (10n:-10, 5n:-5, 0: 0, 5:5, 7:7, 8:8, 10:10, 12:12, 15:15, 16:16, 20:20, 24:24, 30:30, 32:32) !global;

@each $k, $v in $boxSize {
  .#{$pf}mg-#{$k} {
    margin : #{$v}px !important;
  }
  .#{$pf}mg-t-#{$k} {
    margin-top : #{$v}px !important;
  }
  .#{$pf}mg-l-#{$k} {
    margin-left : #{$v}px !important;
  }
  .#{$pf}mg-r-#{$k} {
    margin-right : #{$v}px !important;
  }
  .#{$pf}mg-b-#{$k} {
    margin-bottom : #{$v}px !important;
  }
  .#{$pf}mg-h-#{$k} {
    margin-left  : #{$v}px !important;
    margin-right : #{$v}px !important;
  }
  .#{$pf}mg-v-#{$k} {
    margin-top    : #{$v}px !important;
    margin-bottom : #{$v}px !important;
  }

  .#{$pf}pd-#{$k} {
    padding : #{$v}px !important;
  }
  .#{$pf}pd-t-#{$k} {
    padding-top : #{$v}px !important;
  }
  .#{$pf}pd-l-#{$k} {
    padding-left : #{$v}px !important;
  }
  .#{$pf}pd-r-#{$k} {
    padding-right : #{$v}px !important;
  }
  .#{$pf}pd-b-#{$k} {
    padding-bottom : #{$v}px !important;
  }
  .#{$pf}pd-h-#{$k} {
    padding-left  : #{$v}px !important;
    padding-right : #{$v}px !important;
  }
  .#{$pf}pd-v-#{$k} {
    padding-top    : #{$v}px !important;
    padding-bottom : #{$v}px !important;
  }
}

.#{$pf}text-ellipsis {
  display       : block !important;
  word-break    : break-all;
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
}

.#{$pf}default{
  cursor:default!important;
}

.#{$pf}border-top{
  border-top:1px solid #ddd;
}



